.about {
  text-align: center;
}

.about__title {
  font-size: clamp(28px, 2vw, 40px);
  color: var(--c-white);
  margin-bottom: 32px;
}

.about__image {
  width: clamp(400px, 40vw, 600px);
  height: auto;
  float: right;
  margin-left: 24px;
  margin-bottom: 48px;
}

.about__description {
  font-family: "Inter", sans-serif;
  text-transform: none;
  text-align: left;
}

.about__description__subtitle {
  color: var(--c-white);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.72px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.about__description__text {
  color: var(--c-gray-primary);
  font-weight: 400;
  line-height: 28px;
  word-break: normal;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .about__image {
    margin-left: 0;
    float: none;
    width: 60vw;
  }
  .about__description {
    text-align: justify;
  }
}

@media (max-width: 576px) {
  .about__image {
    width: 80vw;
  }
}
