.socialMedia {
  display: flex;
  gap: 12px;
  align-items: center;
}

.socialMedia__image {
  width: auto;
  height: 14px;
}

@media (max-width: 992px) {
  .socialMedia {
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .socialMedia {
    display: none;
  }
}
