.game__card {
  position: relative;
  height: 400px;
  outline: var(--b1-gray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: saturate(120%);
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.game__card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  mix-blend-mode: hue;
  background: var(--c-primary);
}

.game__card:hover {
  background-size: cover 120%;
  outline: var(--b1-primary);
}

.game__card:hover::before {
  mix-blend-mode: color;
}

.active::before {
  mix-blend-mode: color;
  color: var(--c-white);
}

.game__card__name {
  color: var(--c-gray-primary);
  position: absolute;
  padding: 16px 8px;
  margin: 12px;
  background-color: var(--c-black);
  outline: var(--b1-gray);
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: translateY(-24px);

  transition: all 0.3s ease-out;
}

.game__card:hover > .game__card__name,
.game__card.active > .game__card__name {
  transform: translateY(0);
  color: var(--c-white);
  outline: var(--b1-primary);
}

.game__card.active > .game__card__name {
  color: var(--c-white);
}

@media (max-width: 992px) {
  .game__card {
    height: 180px;
  }

  .game__card__name {
    writing-mode: horizontal-tb;
    padding: 8px;
    bottom: 0;
    transform: translateY(0);
  }

  .game__card:hover > .game__card__name {
    transform: translateX(8px);
  }
}

@media (max-width: 768px) {
  .game__card__name {
    white-space: normal;
    font-size: 14px;
  }

  .game__card {
    height: 240px;
  }
}

@media (max-width: 576px) {
  .game__card {
    height: 120px;
    background-position: center 25%;
  }
}
