.next-matches {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.match {
  width: 360px;
  height: 140px;
  background-color: aqua;
}

.match:nth-child(even) {
  transform: skew(-10deg, 0deg) translate(-10%);
}
.match:nth-child(odd) {
  transform: skew(10deg, 0deg) translate(10%);
}
