@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Syne:wght@800&display=swap");

:root {
  --c-primary: #c53030;
  --c-primary-dark: #511515;
  --c-gray-primary: #9b9b9b;
  --c-gray-secondary: #686868;
  --c-white: #dfdfdf;
  --c-black: #040404;

  --border: 1px solid var(--c-gray-secondary);

  color-scheme: light dark;
  background-color: var(--c-black);
  color: var(--c-white);

  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  align-self: center;
  box-sizing: border-box;
}

/* body::-webkit-scrollbar {
  width: 0;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
}
