.mainContent {
  width: 100%;
  padding: 32px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .mainContent {
    border-inline: var(--border);
    width: 1400px;
    min-height: calc(100vh - 56px);
    height: 100%;
  }
}
